
  @media all and (max-width: 992px){
      .menuTable{
          display:none;
      }
  }

  @media all and (max-width: 992px){
    .big_menu{
        display:none;
    }
}

@media all and (min-width: 992px){
    .small_menu{
        display:none;
    }
}